<div class="center ">
  <h5>To register, please send a command line curl like so:</h5>
  <p>$ curl -i -d 'identifier=your-name-here&amp;rootUrl=http://your-domain.com'
     http://localhost:9393/sources</p>
</div>

<div class="buffer"></div>
